@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-head-padding-top: 30px;
  --sidebar-head-padding-bottom-collapsed: 104px;
  --sidebar-head-padding-bottom-expanded: 110px;
}
.active-tab {
  background-color: #2c344b;
}
[data-collapse="true"] .sidebar-title {
  display: none;
}
.sidebar-divider {
  width: 177px;
  height: 1px;
  background-color: #eaebed;
}
.sidebar-divider--collapsed {
  width: 40px;
}
.menu-box-shadow {
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.13);
}
.input-box-shadow {
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.11);
}

@media (min-width: 1024px) {
  .search {
    width: 100%;
  }
}
.card {
  background-color: #f6f7fa;
}
.para {
  height: 90px;
}
